/* Icon */

.cart{
    background-color: yellow;
    padding: 30px;

    margin-right: 30px;
    margin-bottom: 75px;
    margin-left: 1240px;

    border-radius: 100px;

    
}

.fa-cart-shopping:hover {
    -ms-transform: scale(1.1);
    /* IE 9 */
    -webkit-transform: scale(1.1);
    /* Safari 3-8 */
    transform: scale(1.1);
    transition: 0.2s;
    color: white;
  }


/* navbar */
.search {
    width: 1500px;
    color: black;
}

.all {
    background: rgb(128, 182, 24);
    background: linear-gradient(90deg, rgba(128, 182, 24, 1) 0%, rgba(9, 121, 16, 0.7203256302521008) 43%, rgba(223, 247, 144, 1) 100%);

}

/* content */
.desc {
    background-color: white;
    border-radius: 10px;
    padding: 13px;
    margin-top: 10px;
    background-color: rgb(24, 213, 24);

}

.desc:hover {
    -ms-transform: scale(1.05);
    /* IE 9 */
    -webkit-transform: scale(1.05);
    /* Safari 3-8 */
    transform: scale(1.05);
    transition: 0.2s;
    color: white;
}

.card-prod:hover {
    -ms-transform: scale(1.1);
    /* IE 9 */
    -webkit-transform: scale(1.1);
    /* Safari 3-8 */
    transform: scale(1.1);
    transition: 0.2s;
}

/* Carousel */
.carousel {
    padding-top: 50px;
    padding-bottom: 25px;
}

.carousel .carousel-item {
    height: 280px;
    padding-bottom: 5px;
}

.carousel-item {
    position: absolute;
    object-fit: cover;
    top: 0;
    left: 0;
    min-height: 200px;
}

.promo {
    margin-top: 50px;
    width: 280px;
    height: 280px;
    padding-right: 30px;
}

.promodetails{
    width: 470px;
    height: 450px;
}
